.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header {
  text-align: center;
}
.header span {
  background-color: black;
  color: white;
  padding-inline: 5px;
}

.panel {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-evenly;
}

.Leftpanel {
  width: 65%;
  height: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.card {
  width: 100%;
  gap: 20px;
  box-shadow: 2px 10px 10px rgb(189, 184, 184);
}
.populer {
  background-color: rgb(223, 220, 220);
  padding: 20px 20px;
  margin-top: 0px;

  font-weight: 100;
}

.card_content {
  padding: 10px 20px;
}
.card_content h5 {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.pan {
  color: rgb(140, 132, 132);
  font-size: 16px;
  font-weight: lighter;
}
.card_btn_flex {
  display: flex;
  justify-content: space-between;
  /* padding: 0px 20px; */
}
.card_btn_flex .read_btn {
  padding: 12px 19px;
  /* background-color: white;
  outline: grey; */
}
.card_btn_flex .zero {
  background-color: black;
  color: white;
  padding: 0px 5px;
}

.rightpanel {
  width: 30%;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.profile_img {
  width: 100%;
}

ul {
  background-color: rgb(255, 248, 248);
  margin-right: 20px;
}

.p {
  font-family: "Raleway", sans-serif;
  /* padding-left: 10px; */
  padding: 8px;
}

li {
  list-style: none;
}

.lis {
  width: 50px;
  float: left;
  vertical-align: middle;
  margin-right: 16px !important;
}

.pa {
  font-size: 18px !important;
}

ul li {
  /* padding: 8px 16px; */
  border-bottom: 1px solid #ddd;
}

li {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

li:hover {
  background-color: #ccc;
}

.last {
  margin-top: 25px;
  padding-top: 5px;
  background-color: #f1f1f1 !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.post {
  /* background-color: red; */
  margin-right: 10px;
}
.image {
  width: 100%;
}
.tag {
  color: #000 !important;
  background-color: #fff !important;
  /* padding: 0.01em 16px; */
  /* overflow: auto; */
  /* padding: 7px 14px; */
}

.four {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #000 !important;
  background-color: #f1f1f1 !important;
  margin-bottom: 16px !important;
  font-size: 15px !important;
  margin-left: 6px;
  margin-top: 9px;
}

.one {
  color: #fff !important;
  background-color: #000 !important;
}
.footer {
  background-color: rgb(55, 48, 48);
  width: 100%;
  height: 160px;
  margin-top: 560px;
}
.footer .footer_btn {
  padding: 28px 30px;
}
.footer_btn button {
  padding: 10px 15px;
  font-weight: 400;
  font-size: 15px;
  margin-inline: 3px;
}
.next_btn {
  background-color: black;
  color: white;
  outline: none;
}
.next_btn:hover {
  background-color: rgb(219, 208, 208);
  color: rgb(21, 15, 15);
}
.footer_btn p {
  color: white;
}
.footer_btn span {
  color: yellowgreen;
  font-size: 20px;
}
